* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat"; */
  font-family: "Montserrat", sans-serif;

  color: #000000d9;
}

.sidebar {
  text-decoration: none;
  position: fixed;
  /* background-color: aqua; */
  color: black;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  padding-top: 34px;
  padding-left: 95px;
  list-style-type: none;
}

.linkclass {
  /* background-color: red; */
  color: #000000;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sidebar li {
  padding: 1rem 2rem;
  /* border-bottom: solid blue 1px; */
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 800;
  font-size: 13px;
  color: #000000;
  text-decoration: none;
  list-style-type: none;
}

.mymoves {
  margin-left: 350px;
  margin-top: 38px;
  /* background-color: aqua; */
  /* display: flex;
  justify-content: start;
  flex-direction: column;
  text-align: start; */
}

.myprofile {
  margin-left: 350px;
  margin-top: 38px;
}

.getquote {
  margin-left: 350px;
  margin-top: 38px;
}

.logout {
  margin-left: 350px;
  margin-top: 38px;
}

.my_moves_container {
  /* height: 200px; */
  /* width: 90%; */
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* border-bottom: 1px solid #605f5f; */
}

.first_my_moves_box {
  /* margin-right: 60px; */
  /* margin-left: 0px; */
  width: 84%;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: auto; */
  margin-top: -10px;
  /* flex-wrap: wrap; */
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 15px;
}

.first_my_moves_box > div {
  /* line-height: 0.1; */
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  /* min-width: 100px;
  max-width: 200px;
  word-wrap: break-word; */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.para {
  width: 350px;
  word-wrap: break-word; /* Standard syntax */
  overflow-wrap: break-word;
}

.first_my_moves_box button {
  padding: 12px 12px;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.first_my_moves_box > div:nth-child(4) p {
  color: #ee553b;
}

/* .arrowbutton img{
  width: 2px;
  height: 2px;
} */

.second_list li {
  /* background-color: #4CAF50; */
  display: flex;
  align-items: center;
  gap: 10px;
}
.second_my_moves_box {
  margin-top: 17px;
  width: 90%;
  /* margin-right: 60px; */
}

.second_my_moves_box ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: auto; */
  list-style: none;
  margin-left: -44px;
}

.editicon {
  margin-right: 50px;
}
/* .second_my_moves_box ul li{
  display: flex;
  gap: 1rem;
} */
.second_my_moves_box ul li button {
  border: none;
  padding: 10px 25px;
}

.second_my_moves_box ul li button.viewbutton {
  border: 2px solid #ee553b;
  background-color: transparent;
  color: #ee553b;
  font-weight: 500;
  border-radius: 2px;
}

.quotebutton {
  /* margin-right: 40px; */
  background-color: #ee553b;
  color: white;
  border-radius: 2px;
}

.disclaimer {
  font-size: 14px;
  font-weight: 540;
  margin-top: -17px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -2px;
}
.disclaimer span {
  font-weight: 900;
  color: #000000;
}

hr {
  width: 90%;
  border: 1px solid rgb(223, 222, 222);
  /* height: 0.2px;  */
  /* background-color: grey;  */
  margin: 20px 0;
}




/* Move details styling */

.movedetails{
  /* background-color: aqua; */
}

.first_movedetails_box{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background-color: green; */
  
}

.first_movedetails_box button{
  padding: 6px 15px;
  background-color: #000000D9;
  color: white;
  border-radius: 2px;
}


.house_heading{
  color: #ee553b;
}
.house_details_box{
  margin-top: -30px;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.house_details_box p{
  margin-top: -10px;
  font-size: 15px;
  font-weight: 400;
}


/* Accordion.css */

/* src/Accordion.css */


.accdiv{
 width: 90%;
}

.accordion {
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  margin-bottom: 5px;
}

#accordion-title {
  color: #ee553b;
  font-weight: 800;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  transition: transform 0.3s ease;
}

.icon.rotate {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 15px;
}

.accordion-content.open {
  max-height: 500px; /* Adjust according to your content */
  padding: 15px;
  border-top: 1px solid #ccc;
}

